# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [13]:
# sol 1
lst = [i for i in range(1,11)]
set1 = set(lst)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
# sol 2
set1.add(10)
print(set1)
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
# sol 3 
# first 5 +ve intiger and first 5 even intiger
seti=set(range(1,6))
sete = set(range(2,11,2))
print(sete)
print(seti)
print("Union:",seti.union(sete))
print("Intersect",seti.intersection(sete))
print("defference:",seti-sete)
print("symetric difference:",seti^sete)

{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5}
Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersect {2, 4}
defference: {1, 3, 5}
symetric difference: {1, 3, 5, 6, 8, 10}

In [9]:
# sol 4
# square of the first 10 +ve integer
setty = set(i*i for i in range(1,11))
print(setty)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [14]:
# sol 5
ans_set = set(x for x in set1 if(x%2==0))
print(ans_set)

{2, 4, 6, 8, 10}

In [15]:
# sol 6
duplicate_set = {1,2,2,3,3,4,4,5,5,6,6,6,6,6}
unique_set = set(duplicate_set)
print(unique_set)

{1, 2, 3, 4, 5, 6}

In [18]:
# sol 7
set1 = set(x for x in range(1,6))
set2 = set(x for x in range(1,3))
print(set1.issubset(set2))
print(set2.issubset(set1))

False
True

In [19]:
# sol 8 creating frozen set of first 5 integer
ans8 = frozenset(x for x in range(1,6))
print(ans8)

frozenset({1, 2, 3, 4, 5})

In [21]:
# sol 9 
set9 = set(x for x in range(1,6))
new_list = list(set9)
new_list.append(6)
new_set = set(new_list)
print(set9)
print(new_list)
print(new_set)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [26]:
# sol 10
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [28]:
# sol 11
sett = {1,2,3,4,5,6,7}
for i in sett:
    print(i)

1
2
3
4
5
6
7

In [39]:
# sol 12
set12 = set(x for x in range(1,11))
n = len(set12)
while n>0:

    print(set12)
    set12.pop()
    n-=1
print(set12)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [40]:
# sol 13
set131= {1,2,3,4,5}
set132={1,2,7,8}
set131.symmetric_difference_update(set132)
print(set131)

{3, 4, 5, 7, 8}

In [42]:
# sol 14
set14 = {1,2,3,4,5,6,9}
print(8 in set14)

False

In [44]:
# sol 15
set15 = {
    (1,2),
    (3,4),
    (5,6)
}
print(set15)

{(1, 2), (3, 4), (5, 6)}