# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
# sol - 1
touples = tuple(i for i in range (10))
print(touples)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
# sol - 2
first,*middle,last=touples
print(first)
print(middle)
print(last)

0
[1, 2, 3, 4, 5, 6, 7, 8]
9

In [13]:
# sol - 3 
print(touples[:3])
print(touples[-3:])
print(touples[2:6])

(0, 1, 2)
(7, 8, 9)
(2, 3, 4, 5)

In [18]:
# sol - 4 3x3 mattris
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for row in matrix:
    print(row)
print("element of 2nd row and 3rd colomn:",matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
element of 2nd row and 3rd colomn: 6

In [19]:
# sol - 5
top1 = (1,2,3)
top2 = (4,5,6)
anstop = top1 + top2
print(anstop)

(1, 2, 3, 4, 5, 6)

In [21]:
# sol - 6
touple = (1,2,2,2,3,3,3,3,3,4,5)
print(touple.count(3))
print(touple.index(2))

5
1

In [23]:
# sol - 7 {unpacking}
top = (1,2,3,4,5)
var1,var2,var3,var4,var5= top
print(var1,var2,var3,var4,var5)
# print(var2)
# print(var3)
# print(var4)
# print(var5)

1 2 3 4 5
2
3
4
5

In [24]:
# sol - 8
list =[i for i in range(5)]
list_tuple = tuple(list)
print(list_tuple)

(0, 1, 2, 3, 4)

In [ ]:
# sol - 9 tuple of tuples
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = (7,8,9)

In [1]:
# sol - 10
tupli = tuple(i for i in range(5))
lst = list(tupli)
lst.append(6)
tupli = tuple(lst)
print(tupli)

(0, 1, 2, 3, 4, 6)

In [5]:
# sol - 11( tuple and strings)
str = "hello baby"
tuplibabu = tuple(str)
print(tuplibabu)
new_str = "".join(tuplibabu)
print(new_str)

('h', 'e', 'l', 'l', 'o', ' ', 'b', 'a', 'b', 'y')
hello baby

In [10]:
# sol - 12
sum= {
    (1,2):3,
    (4,5):9,
    (6,9):15
}
print(sum)
# print(sum[1,2])
# print(sum[4,5])
# print(sum[6,9])

{(1, 2): 3, (4, 5): 9, (6, 9): 15}
3

In [12]:
#sol - 13 
nested_touple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for i in range(len(nested_touple)):
    for j in range(len(nested_touple)):
        print(nested_touple[i][j])

1
2
3
4
5
6
7
8
9

In [14]:
# sol - 14 
tuples = (1,2,2,3,3,5,6)
sett = set(tuples)
print(sett)

{1, 2, 3, 5, 6}

In [22]:
# sol - 15
def max_tup(tupli):
    ans = 0
    for i in range(len(tupli)):
        if tupli[i]>ans:
            ans = tupli[i]
    return ans
def min_tup(tupli):
   return min(tupli)
def sum_tup(tupli):
    sum = 0
    for i in range(len(tupli)):
        sum+=tupli[i]
    return sum
tupliii = (1 , 2,3 ,4, 5,5)
print(max_tup(tupliii))
print(min_tup(tupliii))
print(sum_tup(tupliii))

5
1
20